* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #020024;
    color: #fff;
    line-height: 1.6;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #020024;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #a6d0f5;
}

/* Blog Section Styling */
.blog-section {
    padding: 40px 100px;
    background-color: #020024;
}

.blog-post h1 {
    font-size: 2.5rem;
    color: #a6d0f5;
    margin-bottom: 20px;
    text-align: center;
}

.blog-post h2 {
    font-size: 1.8rem;
    color: #a6d0f5;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.blog-post ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.blog-post ul li {
    margin-bottom: 10px;
}

.blog-post ul li strong {
    color: #a6d0f5;
}

/* Blogs Section */
.blogs-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    background: #020024;
    color: #fff;
    text-align: left;
}

.blogs-section h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: white;
}

.blogs-section h2 span {
    color: #a6d0f5;
}

.blogs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}

.blog {
    background-color: #005a9e;
    color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.blog:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.blog h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #a6d0f5;
}

.blog .date {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #ddd;
}

.blog .content {
    font-size: 1rem;
    color: #ddd;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1.5rem;
}

.blog a button {
    background-color: #a6d0f5;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    color: #020024;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blog a button:hover {
    background-color: #a6d0f5;
}

.blogs-section a {
    background-color: #005a9e;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a6d0f5;
    color: #020024;
}

/* footer */
.footer {
    background-color: #005a9e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4rem;
}

.footer p {
    margin: 0;
}


/* Responsive */

@media (max-width: 1080px) {
    /* navbar */
    .navbar a {
        font-size: 1rem;
    }

    .blog-post h1 {
        font-size: 2rem;
    }

    .blog-post h2 {
        font-size: 1.5rem;
    }

    /* blogs section */
    .blogs-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 810px) {
    /* navbar */
    .navbar a {
        font-size: 1rem;
    }

    .blog-post h1 {
        font-size: 2rem;
    }

    .blog-post h2 {
        font-size: 1.2rem;
    }

    .blog-post p {
        font-size: 1rem;
    }

    /* blogs section */
    .blogs-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .blog h2 {
        font-size: 1.2rem;
    }

    .blog p {
        font-size: 0.8rem;
    }

    .blog a button {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px){
    /* navbar */
    .navbar a {
        font-size: 1rem;
    }

    .blog-section {
        padding: 40px 20px;
        background-color: #020024;
    }

    .blog-post h1 {
        font-size: 2rem;
    }

    .blog-post h2 {
        font-size: 1.2rem;
    }

    .blog-post p {
        font-size: 0.8rem;
    }

    .blog-post ul {
        font-size: 0.8rem;
    }

    .blogs-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .blog h2 {
        font-size: 1.2rem;
    }

    .blog p {
        font-size: 0.8rem;
    }

    .blog a button {
        font-size: 0.8rem;
    }

    .footer p {
        font-size: 0.8rem;
    }
}
